<a href="https://colab.research.google.com/github/Iqbalabbasi/skills-introduction-to-github/blob/main/class_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Iqbal"
number = 9
print(type(name))
print(type(number))

<class 'str'>
<class 'int'>

In [2]:
name = "Abbasi"
number = 9.6
print(type(number))
print(type(name))

<class 'float'>
<class 'str'>

In [ ]:
name = "Iqbal"
number = 9
print(type(name))

<class 'str'>

In [3]:
print(name)
print(number)

Abbasi
9.6

In [19]:
f_name = "Iqbal"
number = 5
print(f"My name is {name}")

My name is Iqbal

In [13]:
paragraph = """my name is iqbal.
I am a student of piaic"""
print(paragraph)

my name is iqbal.
I am a student of piaic

In [22]:
first_name = "iqbal"
#print(first_name)

In [27]:
first_name = "Ali"
print(
f"""Hi {first_name},
you got a free coupon code;
Happy 2025
best regards,
Iqbal""")

Hi Ali,
you got a free coupon code;
Happy 2025
best regards,
Iqbal