<a href="https://colab.research.google.com/github/Iqbalabbasi/skills-introduction-to-github/blob/main/Class_07_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
user1 = {
    "name":"Abbasi",
    "age": 21,
    "isnotmarried":True,
    "address": {
      "line1":"xyz street",
      "city": " Karachi",
      "country":"Pakistan",
      },
      }
print (user1)
print(user1 ["address"]["country"])

{'name': 'Abbasi', 'age': 21, 'isnotmarried': True, 'address': {'line1': 'xyz street', 'city': ' Karachi', 'country': 'Pakistan'}}
Pakistan

In [36]:
user1 = {
    "name":"Abbasi",
    "age": 21,
    "isnotmarried":True,
    "address": {
      "line1":"xyz street",
      "city": " Karachi",
      "country":"Pakistan",
      "height": "6"
      },
       "skills":["python","java"," c++"]
       }
print(user1)
print(user1["age"],["height"])

{'name': 'Abbasi', 'age': 21, 'isnotmarried': True, 'address': {'line1': 'xyz street', 'city': ' Karachi', 'country': 'Pakistan', 'height': '6'}, 'skills': ['python', 'java', ' c++']}
21 ['height']

In [47]:
countdown = 10
print( f"{countdown}...")
countdown -= 1 # 9
print(f"{countdown}...")
countdown -= 1 # 8

10...
9...

In [64]:

count = 1

while count <= 10:
    print(f"{count}...")
    count += 1

1...
2...
3...
4...
5...
6...
7...
8...
9...
10...

In [67]:

count = 10

while count >= 1:
    print(f"{count}...")
    count -= 1

10...
9...
8...
7...
6...
5...
4...
3...
2...
1...

In [73]:
fruits = ["Mango","Orange","Banana"]
for fru in fruits:
   print(f" I like {fru}")

 I like Mango
 I like Orange
 I like Banana

In [75]:
fruits = ["Mango","Orange","Banana"]
fruits. reverse()
for fru in fruits:
   print(f" I like {fru}")

 I like Banana
 I like Orange
 I like Mango

In [79]:
skills = ["python","java","c++","typescript"]

for sk in skills:
   print (f"  {sk}")

  python
  java
  c++
  typescript