<a href="https://colab.research.google.com/github/Iqbalabbasi/skills-introduction-to-github/blob/main/Class_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# except is only use for error
user_input = int(input("enter a number"))
# I'd
print( id(user_input))

enter a number22
10751528

In [58]:
#Try . Catch
try:
 user_input = int(input("enter a number"))
 user_input / 0

except ValueError:
  print("Invalid input!")

except KeyboardInterrupt:
  print("Input cancelled!")

except Exception as e:
  print("Something went wrong!")
  print(e)

enter a number30
Something went wrong!
division by zero

In [82]:
fruits_tuple, = ("Apple", "Mango", "Banana")

print(type(fruits_tuple))

ValueError: too many values to unpack (expected 1)

In [72]:
roles = {"Admin","Teacher","student",""}

print(roles)

{'', 'student', 'Teacher', 'Admin'}

In [81]:
my_set = {1,2,3}

my_set.add (5)

my_set.add (4)
print(my_set)

{1, 2, 3, 4, 5}